<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th class="text-right"><a routerLink="/customers/new"><span class="text-primary fa fa-plus"></span></a></th>
		</tr>
	</thead>
	<tr class="pointer" *ngFor="let customer of customers" (click)="openDetail(customer)">
		<td>{{customer.name}}</td>
		<td>{{customer.phone}}</td>
		<td>{{customer.email}}</td>
		<td></td>
	</tr>
	<tfoot>
		<tr *ngIf="customers && !customers.length">
			<td colspan="99" class="text-center text-muted">No customers exist yet</td>
		</tr>
	</tfoot>
</table>
