<div class="card">
	<form #form="ngForm" novalidate *ngIf="dummy">
		<div class="card-body">
			<h5 class="card-title">Dummy Detail</h5>

			<div class="row mb-4">
				<div class="col-4 form-group">
					<label>Name</label>
					<input class="form-control" [(ngModel)]="dummy.name" name="name" required>
				</div>
				<div class="col-4 form-group">
					<label>Flag</label><br>
					<input type="checkbox" [(ngModel)]="dummy.flag" name="flag">
				</div>
				<div class="col-4 form-group">
					<label>Amount</label>
					<input type="number" class="form-control"  [(ngModel)]="dummy.amount" name="amount">
				</div>
			</div>
		</div>

		<div class="card-footer d-flex justify-content-between">
			<button class="btn btn-danger"  (click)="delete()" *ngIf="dummy._id">Delete</button>
			<button class="btn btn-primary" (click)="save()" [disabled]="form.invalid || form.pristine">Save</button>
		</div>

	</form>
</div>
